/* let's put some global resets first */
* {

    padding: 1px;
    box-sizing: border-box; /* 
    CSS tricks: https://css-tricks.com/box-sizing/ */
    font-family: Arial, sans-serif;
}

body {
    margin: 20px;

}

.transformation-example {
    display: flex;
    flex-wrap: wrap;
}

.fox-box {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 150px;
    height: 150px;
}

/* let's rotate the fox when we hover over it */
.fox-box-1:hover {
    transform: rotate(360deg); /* you can put any degree you want */
    transition: transform 1.5s;
}

/* lets make fox-box-2 a bit smaller */
.fox-box-2 {
    width: 130px;
    height: 130px;
}

/* let's add a box shadow on hover */
.fox-box-2:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    /* box shadow experiment: https://www.cssmatic.com/box-shadow 
    MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
    transition: box-shadow 1.5s;
}

/* third fox box should scale down to 0.5 in 2 seconds */
.fox-box-3:hover {
    transform: scale(0.5);
    transition: transform 2s;
}

.fox-box-4 {
    transform: scale(0.25);
}

/* let's make the fifth fox box skew left and right as long as it is hovered */
/* .fox-box-5:hover {
    transform: skew(20deg, 20deg);
    transition: transform 1.5s;
} */

/* let's make the fifth fox box keep skewing left and right when it is hovered */
.fox-box-5:hover {
    animation: myskew 1.5s infinite;
}

/* so we call this animation skew and we define it here */
@keyframes myskew {
    0% {
        transform: skew(0deg, 0deg);
    }
    50% {
        transform: skew(20deg, 20deg);
    }
    100% {
        transform: skew(0deg, 0deg);
    }
}

/* we want the last 6th fox to move around the page when hovered */
.fox-box-6:hover {
    animation: mymove 2.5s infinite;
}

/* we define the animation here */
@keyframes mymove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(100px, 100px);
    }
    75% {
        transform: translate(0, 100px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* let's make flex wrap container of gradient-example */
.gradient-example {
    display: flex;
    flex-wrap: wrap;
}